@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
  }
  
  :root {
    --bgOrange: #e84949;
  }
  
  /* Navbar styles */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
  }
  
  /* Logo styles */
  .name {
    font-size: 1.5rem;
  }
  
  /* Active link styles */
  .active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Navigation links styles */
  #nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    color: #f1f1f1;
  }
  
  /* Section styles */
  .section {
    margin-top: 80px;
  }
  
  /* Download link styles */
  #resume-link-1 {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  #resume-link-1:hover {
    background-color: #3e8e41;
  }
  
  /* Hamburger menu styles */
  #menu-icon {
    display: none;
  }
  
  #menu-icon-btn {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Sidebar menu styles */
  #sidebar-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #242222;
    z-index: 9998;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  
  #close-icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color: white;
  }
  
  #close-icon i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  #sidebar-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 80px;
  }
  
  .sidebar-link {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
  }
  
  .sidebar-link:hover {
    color: var(--bgOrange);
  }
  


  .hero-section{
    width:100%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 6rem auto;
    padding: 0 2.5rem;
    padding-bottom: 8rem;
}


.hero-section-left{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
}

.hero-section-right{
    width: 30%;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 40px;
    line-height: 40px;
}

.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }

  .btn-pink a{
    color: white;
    font-size: 18px;
    text-decoration: none;
  }

  
  .btn-pink a:hover{
    color: black;
  }

  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
  }

  .hero-section-right{
    position:relative;
  }

  .absolute{
    position:absolute;
  }

  .user-image{
    padding:2rem;
    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
  }

  .user-image img{
    width: 100%;
    z-index:-9;
  }

  @keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);
        
    }

    50%{
        transform:scale(1.1);
        filter:grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
    
  }


  .icon-dots{
    z-index:9;
    bottom:-1rem;
    right:0;
    animation-name:dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes dotsAnimation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
  }

  .icon-cube{
    z-index:9;
    top:-0.8em;
    right:1em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes cubeRotate {
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform:  rotateY(180deg) translateY(-12px);
    }
    100%{
        transform:  rotateY(360deg) translateY(0px);
    }
  }

  .icon-circle{
    z-index:9;
    left:0;
    bottom:0;
    animation-name:shakeEffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} 
 @keyframes shakeEffect {
  
    50%{
        left:5%;
        bottom:10%;
    }
 
  }

  .icon-zigzag{
    z-index:9;
    top:1.5em;
    left:-0.3em;
    animation:zigzagAnimation 5s ease-in infinite;
  }

  @keyframes zigzagAnimation{
    50%{
        left:5%;
        top:2%;
    }
  }
  .icon-plus{
    z-index:9;
    top:-0.8rem;
    left: 50%;
    animation:shakeEffectPlus 5s ease-in infinite;
  }

  @keyframes shakeEffectPlus {
    50%{
        top:3%;
        left:48%
    }
  }





  /* Media queries */
  @media screen and (max-width: 780px) {
   
    #nav-menu {
      display: none;
    }
  
    
    #menu-icon {
      display: block;
    }
  
    
    #sidebar-menu {
      display: block;
    }

    .hero-section-left{
        width:50%;
    }

    .hero-section-right{
        width: 50%;
    }

  }


  
#about{
  background-color: #626262;
  width: 100%;
  clip-path: polygon(0 0,100% 0% ,100% 90%, 80% 80%, 0% 90% );
  height: 100vh;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
}

#about>div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;    
}
#about .home-img{
  border-radius: 20px;
  width: 28vw;
}

#about>div:nth-child(2){
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px ;
  color: white;
}
#about>div:nth-child(2)>h1{
  font-size: 2.5rem;
  margin-bottom: 40px;
}
#about>div:nth-child(2)>p{
  font-size: 1.2rem;
  margin-bottom: 40px;
  padding: 0 40px;

}


/* skills */



.skills-card {
  margin-bottom: 20vh;
  
  }
  
  #skills-sec{
    background-color: #F6EFE9;
    padding: 20px 0px;
  }
  #skills-sec > h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(36, 36, 36);
  }
  
  .lines {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  }
  
  .lines .line1,
  .lines .line2 {
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #000;
  position: relative;
  }
  
  
  
  .line1 {
  margin-left: 42%;
  }
  
  
  
  .lines .text {
  padding: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  }
  
  #container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px 40px;
  }
  
  #container > div {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: box-shadow 0.3s ease-in-out;
  }
  
  #container > div:hover {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 16px 0px;
  }
  
  #container > div > img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
  }
  
  #container > div:hover > img {
  transform: scale(1.2);
  }
  
  #container > div > p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  }

  #container > div:hover > p {
    transform: scale(1.2);
    }
  
/* project */



/* Styling for Projects section */


#projects-sec{
  background-color: #F6EFE9;
}


.title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}

.All-project {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-card {
  margin: 40px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 16px 0px;
  }

  /* .project-card:hover   */
  .project-card:hover > .project-image img {
    transform: scale(1.1);
  }
.project-image img {
  display: block;
  padding: 10px;
  margin: auto;
  width: 95%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.content {
  padding: 20px;
}

.project-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.project-tech-stack {
  font-size: 1rem;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.project-deployed-link,
.project-github-link {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #080808;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.project-deployed-link:hover,
.project-github-link:hover {
  color: #fff;
  background-color: #cecece;
}



/* git section */

#github-sec ,#contact {
  background-color: #F6EFE9;
  padding: 20px;
  
}

.github h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}

.github .calendar {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: #6a6b6b;
}

.github #github-stats-card,
.github #github-streak-stats{
  
  margin-left: 70px;
  max-width: 500px;
}


.github #github-top-langs{
  margin-left: 38%;
  margin-top: 20px;
  max-width: 500px;
}




/* contact section */

.contact-section {
  padding: 120px 0px;
}

.contact-section>div {
  height: 400px;
  width: 40%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  background-color: #6a6b6b;
}

.contact-link {
  height: 90%;
  width: 90%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-items: center;
}

.contact-link>div {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
}

.contact-link>p {
  width: 50%;
  font-size: 22px;
  color: #ffffff;
  
  margin: 20px auto;
}

.contact-link>div>a {
  
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}

.contact-link img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}